body {
  background-image: url("https://miro.medium.com/max/4000/1*9OPicPAnLswn3cC_2COHOQ.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-wrapper {
  background-color: rgb(184, 9, 3);
}

.charClass {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  color: rgb(184, 9, 3);
  background-color: white;
  width: 60%;
  opacity: 0.8;
  border-radius: 5px;
  margin-left: 20px;
}

.createBtn {
  background-color: rgb(184, 9, 3);
  border-radius: 5px 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 16px;
  margin-bottom: 30px;
  cursor: pointer;
  margin-left: 20px;
}

.nav-wrapper h1 {
  margin-top: 10px;
}

.title{
  font-family: 'Cinzel Decorative', cursive;
  font-size: xx-large;
}

.charBlock {
  background-color: white;
  width: 30%;
  border-radius: 6px;
  opacity: 0.8;
  position: fixed;
  top: 70px;
  right: 40px;
  margin-left: 20px;
  padding-left: 10px;
}

.listBlock {
  background-color: white;
  width: 30%;
  border-radius: 6px;
  opacity: 0.8;
  top: 70px;
  right: 40px;
  margin-left: 20px;
}

.name{
  margin-bottom: 20px;
}

.textPage {
  color:rgb(184, 9, 3);
  font-family: 'Alegreya SC', serif;
  font-size: x-large;
  margin-right: 10px;
}

.textScore {
  font-family: 'Alegreya SC', serif;
  font-size: larger;
}

.boxCharName {
  margin-bottom: 10px;
  font-family: 'Alegreya SC', serif;
  color:rgb(184, 9, 3);
}

.charName {
  text-align: center;
  background-color: white;
  width: 400px;
  margin: auto;
  height: 110%;
  border-radius: 6px;
  opacity: 0.8;
}