body {
  background-image: url("https://miro.medium.com/max/4000/1*9OPicPAnLswn3cC_2COHOQ.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-wrapper {
  background-color: red;
}

.charClass {
  text-align: center;
}

.nav-wrapper h1 {
  margin-top: 10px;
}